
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #222;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
ul {
  padding: 1px;
  display: inline-block;
}

h2 {
  color: #3a3560;
}

h3 {
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 17px;
  color: #3a3560
}
h4 {
  font-size: 15px;
  color: #3a3560
}

p {
  font-size: 15px;
  margin-bottom: 40px;
  line-height: 15px;
  text-align: justify; 
  color: #838385
}
.paper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #d2d3d6;
  padding: 50px;
  margin-top: 45px;
  box-shadow: -10px 40px 37px 5px #3a3560;
}
.paper2 {
  background-color: #e2e2e4;
}

.contact {
  display: inline-block;
  width: 75px;
  text-align: center;
  height: 1070px;
  vertical-align: top;
  padding-top: 550px;
}
.contact li {
  padding-top: 30px;
  padding-bottom: 34px;
}
.contact h3 {
  writing-mode: vertical-rl;
  color: #9ca8a8;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 5px;
}

.content {
  display: inline;
}

.description{ 
  text-align: right;
  letter-spacing: 0.75px;
  line-height: 22px;
  color: #3a3560
}

.left {
  display: inline-block;
  width: 270px;
  padding: 30px;
  padding-right: 1px;
  box-sizing: border-box;
  border-left: solid 2px #a8adb0;
  box-sizing: border-box;
  height: 1070px;
  vertical-align: top;
}
.left h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 35px;
  letter-spacing: 2px;
  font-size: 27px;
}

.right {
  display: inline-block;
  width: 330px;
  box-sizing: border-box;
  height: 1070px;
}
.pic {
  margin-top: 75px;
  padding-left: 20px;
}

.studies{
  padding: 45px 105px 5px;
}
.year h4 {
  display: inline-block;
}
.year .info {
  display: inline-block;
  text-align: right;
  width: 180px;
  font-size: 14px;
  vertical-align: middle;
  height: auto;
  color: #838385;
}

.language th {
  text-align: center;
  font-size: 15px;
}

.language td {
  margin-left: 30px;
  text-align: left;
  font-size: 14px;
  color: #616164;
}
.language table {
  padding: 5px 0px 0px;
  width: 200px;
  height: 95px;
}

.skill {
  margin-top: 90px;
  height: auto;
  vertical-align: bottom;
  padding: 0px 40px 5px;
}

.skill h3 {
  padding: 0px 65px 5px;
  vertical-align: middle;
  height: auto;
  margin-top: -30px;
}
.skills {
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 12px;
  text-align: center; 
  color: #616164;
  font-size: 14px;
}
.skillgroup {
  box-shadow: 0px 1px 5px 0px #838385ee;
  text-align: center;
  width: 275px;
  vertical-align: middle;
  height: auto;
  padding: 2px;;
  background-color:  #3c385d12;
}
